Calculator.xcodeproj/project.xcworkspace/xcuserdata/ebernet.xcuserdatad/UserInterfaceState.xcuserstate
Calculator.xcodeproj/project.xcworkspace/xcuserdata/ebernet.xcuserdatad/WorkspaceSettings.xcsettings
